<div id="wrap_login">
  <div id="header_login" align="right">
    <ul id="login" class="subnav">
      <li class="first">
        <%= link_to t('.home'), dvdpost_url %>
      </li>
      <li>
        <%= switch_locale_link I18n.locale, {:id => 'lang'} %>
        <span id="lang-box">
          <% I18n.available_locales.each do |locale| %>
            <%= switch_locale_link locale unless locale.to_s == I18n.locale.to_s %>
          <% end %>
        </span>
      </li>
    </ul>
  </div>
  <div id="login_content_bg">
    <div id="login_content">
      <div align="center">
        <h1>
          <%= link_to 'DVDPost - Online DVD rental', dvdpost_url, :class => 'like-btn' %>
        </h1>
      </div>
      <div id="title"><%= t '.title' %></div>
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <p class="inputs_codes">
          <%= t '.email_label' %>:<br />
          <%= f.text_field :customers_email_address, :class => 'inputs_codes', :size => '35', :tye => 'text' %>
        </p>
        <p class="inputs_codes">
          <%= t '.pass_label' %>:<br />
          <%= f.password_field :password, :class => 'inputs_codes', :size => '35', :maxlength => '40'%>
        </p>
        <% if alert %>
          <p align="center" class="wrong"><%= t('.warning') %></p>
        <% end %>
        <% if devise_mapping.rememberable? -%>
          <p class="check_login">
            <p>
              <%= f.check_box :remember_me, :checked => true, :name => 'remMe', :class => 'cssCheckbox' %>
              <%= f.label :remember_me %>
            </p>
          </p>
        <% end -%>
        <p class="check_login">
          <%= t '.forgot_pass' %>
          <%= link_to t('.click_here'), 'http://www.dvdpost.be/password_forgotten.php', :class => 'link_forget' %>
        </p>
        <p align="right" class="button_login">
          <%= f.submit t('.connect'), :id => 'submit_button' %>
        </p>
      <% end %>
    </div>
  </div>
</div>
